/* ---------------------------------------------------------------------------------------------------- */
/* --- page structure --------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------- */

body {
  background-color: #fff;
  color: #434343;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  font-weight: 400;
  height: 100%;
  padding: 0;
}

.jtk-bootstrap {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.jtk-bootstrap .jtk-page-container {
  display: flex;
  width: 100vw;
  justify-content: center;
  flex: 1;
}

.jtk-bootstrap .jtk-container {
  width: 60%;
  max-width: 800px;
}

.jtk-bootstrap-wide .jtk-container {
  width: 80%;
  max-width: 1187px;
}

.jtk-demo-main {
  position: relative;
  margin-top: 98px;
  display: flex;
  flex-direction: column;
}

.jtk-demo-inner {
  display: flex;
}

.jtk-demo-main .description {
  font-size: 13px;
  margin-top: 25px;
  padding: 13px;
  margin-bottom: 22px;
  background-color: #f4f5ef;
}

.jtk-demo-main .description li {
  list-style-type: disc !important;
}

.jtk-demo-canvas {
  height: 750px;
  max-height: 700px;
  border: 1px solid #ccc;
  background-color: white;
  display: flex;
  flex-grow: 1;
  position: relative;
}

.canvas-wide {
  margin-left: 0;
}

.miniview {
  position: absolute;
  top: 25px;
  right: 25px;
  z-index: 100;
}

.jtk-demo-dataset {
  text-align: left;
  max-height: 600px;
  overflow: auto;
}

.demo-title {
  float: left;
  font-size: 18px;
}

.controls {
  top: 25px;
  color: #fff;
  margin-right: 10px;
  position: absolute;
  left: 25px;
  z-index: 1;
  display: flex;
}

.controls i {
  background-color: #5184a0;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 4px;
  padding: 4px;
}

li {
  list-style-type: none;
}

/* ------------------------ node palette -------------------- */

.sidebar {
  margin: 0;
  padding: 10px 0;
  background-color: white;
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  align-items: center;
}

.sidebar-item {
  background-color: #ccc;
  border-radius: 11px;
  color: #585858;
  cursor: move;
  padding: 8px;
  width: 128px;
  text-align: center;
  margin: 10px;
  outline: none;
}

button.sidebar-item {
  cursor: pointer;
  width: 150px;
}

.sidebar select {
  height: 35px;
  width: 150px;
  outline: none;
}

.sidebar-item.katavorio-clone-drag {
  margin: 0;
  border: 1px solid white;
}

.sidebar-item:hover,
.sidebar-item.katavorio-clone-drag {
  background-color: #5184a0;
  color: white;
}

/*
.sidebar button {
    background-color: #30686d;
    outline: none;
    border: none;
    margin-left: 25px;
    padding: 7px;
    color: white;
    cursor:pointer;
}*/

.sidebar i {
  float: left;
}

@media (max-width: 600px) {
  .sidebar {
    float: none;
    height: 55px;
    width: 100%;
    padding-top: 0;
    flex-direction: row;
  }

  .sidebar ul li {
    display: inline-block;
    margin-top: 7px;
    width: 67px;
  }
  .jtk-demo-canvas {
    margin-left: 0;
    margin-top: 10px;
    height: 364px;
  }

  .jtk-demo-inner {
    flex-direction: column;
  }
}

/* ---------------------------------------------------------------------------------------------------- */
/* --- jsPlumb setup ---------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------- */

.jtk-surface-pan {
  display: none;
}

.jtk-connector {
  z-index: 9;
}

.jtk-connector:hover,
.jtk-connector.jtk-hover {
  z-index: 10;
}

.jtk-endpoint {
  z-index: 12;
  opacity: 0.8;
  cursor: pointer;
}

.jtk-overlay {
  background-color: white;
  color: #434343;
  font-weight: 400;
  padding: 4px;
  z-index: 10;
}

.jtk-overlay.jtk-hover {
  color: #434343;
}

path {
  cursor: pointer;
}

/* header styles */

.jtk-node {
  /* background-color: #5184a0; */
  display: flex;
  border-radius: 4px;
  cursor: pointer;
  font-size: 12px;
  position: absolute;
  z-index: 11;
  overflow: hidden;
  min-width: 80px;
  min-height: 30px;
  width: auto;
  text-align: center;
}
.jtk-node .left {
  /* min-width: 80px; */
  width: auto;
}
.jtk-node .node-name {
  white-space: nowrap;
}
.jtk-node .right {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
  font-size: 12px;
}

[undo],
[redo] {
  background-color: darkgray !important;
}
[can-undo='true'] [undo],
[can-redo='true'] [redo] {
  background-color: #3e7e9c !important;
}
